Cython==3.0.11
formulaic==1.1.1
interface-meta==1.3.0
linearmodels==6.1
mypy-extensions==1.0.0
numpy==2.2.2
packaging==24.2
pandas==2.2.3
patsy==1.0.1
pyhdfe==0.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
scipy==1.15.1
setuptools-scm==8.1.0
six==1.17.0
statsmodels==0.14.4
typing_extensions==4.12.2
tzdata==2025.1
wrapt==1.17.2
